.flex-container {
    width: 600px;
    height: 450px;
    background-color: pink;
    margin: 0 auto;
    display: flex;
    /* justify-content: center;
    align-items: center; */
}

.item {
    width: 250px;
    height: 150px;
    flex-basis: 240px;
    font-size: 3em;
    color: whitesmoke;
    text-align: center;
    /* flex-grow: 1; */
    flex-shrink: 0;
}

.red {
    background-color: red;
    /* flex-grow: 1; */
    /* flex-shrink: 1; */
}

.green {
    background-color: green;
    /* flex-grow: 2; */
    /* flex-shrink: 2; */
}

.blue {
    background-color: blue;
    /* flex-grow: 3; */
    /* flex-shrink: 3; */
}