@import url('https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&family=Poller+One&display=swap');

* {
    margin: 0;
}

body {
    font-family: "Poller One", serif;
    background-image: url(../Images/sky.jpg);
    color: #eedb00;
    background-attachment: fixed;
}

header,
footer {
    background-color: rgba(60, 69, 67, 0.6);
}

header {
    border-radius: 15px 15px 0 0;
}

nav {
    position: fixed;
    top: 5px;
    left: 40px;
}

nav>ul {
    list-style: none;
    padding: 0;
}

nav li {
    display: inline;
}

h1 {
    text-align: center;
    font-size: 3em;
    padding: 0.5em 0;
}

.left {
    float: left;
    width: 25%;
    margin: 5px 10px 0 5px;
}

.right {
    float: right;
    width: 50%;
    margin: 5px 5px 0;
    border: 1px solid #eedb00;
    border-radius: 0 0 15px 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    row-gap: 0.15%;
}

img {
    width: 100%;
}

.bottomLeft {
    border-bottom-left-radius: 15px;
}

.bottomRight {
    border-bottom-right-radius: 15px;
}

.farGalaxy {
    font-size: 2em;
    letter-spacing: 0.2em;
    line-height: 1.5;
    text-align: justify;
}

.right img {
    width: 33%;
}

.right h2 {
    width: 100%;
    text-align: center;
}

.left img {
    box-shadow: 10px 10px rgba(60, 69, 67, 0.6);
}

footer {
    clear: both;
    height: 6em;
    border-radius: 0 0 15px 15px;
    display: flex;
    align-items: center;
}

.button {
    width: 11em;
    height: 2em;
    margin-left: 22em;
}

.button>p {
    font-size: 0.8em;
    text-align: center;
}

.email {
    font-size: 1.5em;
    color: black;
    font-variant: small-caps;
}

.button-style {
    border: 2px solid black;
    border-radius: 5px;
    background-color: rgba(204, 3, 35, 0.5);
    cursor: pointer;
}