body {
    background-color: pink;
    font-size: 32px;
    margin-top: 0;
}

.outer1 {
    background-color: blue;
    height: 200px;
    /* padding-left: 30px; */
    margin-bottom: 20px;
    /* padding-top: 1px; */
    border-top: 1px solid transparent;
}

.outer2 {
    background-color: green;
    height: 200px;
    margin-top: 30px;
}

.inner1 {
    background-color: red;
    height: 100px;
    width: 80%;
    padding-left: 20px;
    /* margin-left: 40px;
    margin-top: 25px; */
    /* margin: 25px 0 0 40px; */
    /* margin: 20px 40px 10px; */
    margin: 0 auto;
}